/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-slider {
	border: 1px dotted #f00;
}

.focotik-testimonials-tab-content {
	.focotik-testimonial-item {
		display: none;

		&:first-child {
			display: block;
		}
	}
}

.focotik-testimonials-tabs {
	.focotik-testimonials-tab-nav button.active {
		border-bottom: 2px solid blue;
	}
}
