/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-slider {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.block-editor-page .focotik-testimonials-tabs {
	max-width: 100%;
	width: 1000px;
}

.focotik-testimonials {
	background-color: #272B2F;
	padding: 50px;

	.focotik-testimonials-tabs {
		display: flex;
		gap: 16px;

		.focotik-testimonials-tab-nav {
			display: flex;
			flex-direction: column;
			flex: 0 0 165px;
			row-gap: 16px;

			button {
				border-radius: 12px;
				border: 1.5px solid #383A3E;
				background-color: transparent;
				height: 108px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				padding: 0;
				overflow: hidden;
				transition: all .3s;
				color: #fff;

				&.active {
					background-color: #181A1D;
				}
			}
		}

		.focotik-testimonials-tab-content {
			flex: 1;

			.focotik-testimonial-item {
				display: none;
				position: relative;
				gap: 32px;
				align-items: center;

				&:first-child {
					display: flex;
				}

				&>img {
					display: none;
				}

				.testimonial-content {
					&__message {
						font-weight: 600;
						font-size: 32px;
						line-height: 40px;
						letter-spacing: -2%;
						color: #EFF2F6;
					}

					&__author {
						&-tags {
							display: flex;
							align-items: center;
							flex-wrap: wrap;


							/* EmailInput */
							
							/* EmailInput */

							.components-base-control__field,
							input {
								margin-block-end: 0;
								background-color: transparent;
								border: none;
								color: #fff;
								padding: 0;
								text-transform: uppercase;
								line-height: 1;
								font-size: 14px;
								height: inherit;

								:focus {
									outline: none;
									box-shadow: none;
								}

								::placeholder {
									color: #aaa;
								}
							}

							ul {
								display: flex;
								gap: 8px;
								justify-content: flex-start;
								padding: 0px;
								flex-wrap: wrap;
								list-style-type: none;

								li {
									display: flex;
									align-items: center;
									gap: 10px;
									padding-inline: 12px;
									padding-block: 4px;
									border-radius: 40px;
									background-color: #F6F9FD;
									font-weight: 700;
									font-size: 14px;
									line-height: 20px;
									text-align: center;
									text-transform: uppercase;
									position: relative;
									padding-block-end: 2px;
									display: flex;
									align-items: center;

									&:last-child {
										background-color: transparent;
										padding: 0;
									}

									:active {
										cursor: move;
									}

									&:hover button {
										visibility: visible;
										opacity: 1;
									}

									button {
										position: absolute;
										font-size: 1.3rem;
										line-height: 1;
										box-shadow: none;
										background: red;
										color: #fff;
										right: -7px;
										top: -7px;
										border-radius: 50%;
										padding: 0;
										width: 20px;
										height: 20px;
										display: flex;
										justify-content: center;
										align-items: center;
										scale: .8;
										visibility: hidden;
										opacity: 0;
										transition: all 300ms;
									}
								}
							}
						}
					}
				}

				.video-markup {
					flex-shrink: 0;
				}

				.logo-changer {
					position: absolute;
					display: none;
					left: -100px;
					top: 0;
				}

				.video-wrap {
					flex: 0 0 46%;
					flex-shrink: 0;
				}

				.video-container {
					position: relative;
					width: 100%;
					padding-top: calc((24 / 19) * 100%);
					overflow: hidden;
					border-radius: 12px;

					iframe {
						background: #ddd;
						position: absolute;
						top: 50%;
						left: 50%;
						width: calc((24 / 19) * 100vh);
						height: 100vh;
						transform: translate(-50%, -50%);
						object-fit: cover;
					}
				}

			}
		}

		&:hover {
			.focotik-testimonials-tab-content {
				.logo-changer {
					display: block;
				}
			}
		}

	}

	.focotik-testimonials-add-new {
		// background-color: #244669;
		color: #fff;
		display: flex;
		align-items: center;

		.block-editor-button-block-appender {
			box-shadow: inset 0 0 0 1px #ddd;
		}
	}
}
