@use '../../styles/mixins/library' as *;


.wp-block-create-block-slider {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.block-editor-page .focotik-testimonials-tabs {
	max-width: 100%;
	width: 1000px;
}

.focotik-testimonials {
	background-color: #272B2F;
	padding: 50px;

	.focotik-testimonials-tabs {
		display: flex;
		gap: 16px;
		flex-direction: column;

		@include above(medium) {
			flex-direction: row;
		}

		.focotik-testimonials-tab-nav {
			display: flex;
			gap: 16px;
			overflow: scroll;
			padding-block-end: 20px;

			@include above(medium) {
				flex: 0 0 165px;
				flex-direction: column;
			}

			button {
				border-radius: 12px;
				border: 1.5px solid #383A3E;
				background-color: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				padding: 0;
				overflow: hidden;
				transition: all .3s;
				color: #ffffff;
				flex-shrink: 0;
				max-width: 160px;
				height: 90px;

				@include above(medium) {
					height: 108px;
					max-width: inherit;
				}

				&.active {
					background-color: #181A1D;
				}


			}
		}

		.focotik-testimonials-tab-content {
			flex: 1;

			.focotik-testimonial-item {
				display: none;
				position: relative;
				gap: 18px;
				flex-direction: column;

				@include above(medium) {
					gap: 32px;
					flex-direction: row;
				}

				&:first-child {
					display: flex;
				}

				&>img {
					display: none;
				}

				.testimonial-content {
					align-self: center;
					order: 1;

					@include above(medium) {
						order: 2;
					}

					&>* {
						padding-block-end: 16px;
						margin: 0;

						@include above(large) {
							padding-block-end: 32px;
						}
					}


					&__author {

						&-message {
							font-weight: 600;
							font-size: 22px;
							line-height: 1.5;
							letter-spacing: -2%;
							color: #EFF2F6;

							@include above(medium) {
								font-size: 26px;
							}

							@include above(large) {
								font-size: 32px;
							}
						}

						&-designation {
							font-weight: 400;
							font-size: 16px;
							line-height: 24px;
							color: #AEAEAE;
							margin: 0;
						}

						&-name {
							font-weight: 700;
							font-size: 20px;
							line-height: 28px;
							color: #EFF2F6;
							text-transform: capitalize;
							margin: 0;
						}

						&-tags {
							display: flex;
							align-items: center;
							flex-wrap: wrap;


							/* EmailInput */

							/* EmailInput */

							.components-base-control__field,
							input {
								margin-block-end: 0;
								background-color: transparent;
								border: none;
								color: #fff;
								padding: 0;
								text-transform: uppercase;
								line-height: 1;
								font-size: 14px;
								height: inherit;

								:focus {
									outline: none;
									box-shadow: none;
								}

								::placeholder {
									color: #aaa;
								}
							}

							ul {
								display: flex;
								gap: 8px;
								justify-content: flex-start;
								padding: 0px;
								flex-wrap: wrap;
								list-style-type: none;

								li {
									display: flex;
									align-items: center;
									gap: 10px;
									padding-inline: 12px;
									padding-block: 4px;
									border-radius: 40px;
									background-color: #F6F9FD;
									font-weight: 700;
									font-size: 14px;
									line-height: 20px;
									text-align: center;
									text-transform: uppercase;
									position: relative;
									padding-block-end: 2px;
									display: flex;
									align-items: center;

									&:not(.tag-item) {
										background-color: transparent;
										padding: 0;
									}

									&:hover button {
										visibility: visible;
										opacity: 1;
									}

									button {
										position: absolute;
										font-size: 1.3rem;
										line-height: 1;
										box-shadow: none;
										background: red;
										color: #fff;
										right: -7px;
										top: -7px;
										border-radius: 50%;
										padding: 0;
										width: 20px;
										height: 20px;
										display: flex;
										justify-content: center;
										align-items: center;
										scale: .8;
										visibility: hidden;
										opacity: 0;
										transition: all 300ms;
									}
								}
							}
						}
					}
				}


				.logo-changer {
					position: absolute;
					display: none;
					left: -100px;
					top: 0;
				}

				.video-markup {
					flex-shrink: 0;
					width: 100%;
					order: 2;

					@include above(large) {
						max-width: 400px;
					}

					@include above(medium) {
						order: 1;
						width: 40%;
					}
				}

				.video-wrap {
					flex: 0 0 46%;
					flex-shrink: 0;
				}

				.video-container {
					position: relative;
					width: 100%;
					overflow: hidden;
					border-radius: 12px;
					line-height: 0;

					@include above(medium) {
						padding-top: 130%; // This creates a 2:3 aspect ratio (height = 150% of width)
					}

					iframe {
						border: 0;
						width: 100%;

						@include above(medium) {
							top: 50%;
							left: 50%;
							height: auto;
							min-height: 140%; // Adjust this to crop top/bottom if needed
							object-fit: cover;
							transform: translate(-50%, -50%);
							position: absolute;
						}
					}
				}


			}
		}

		&:hover {
			.focotik-testimonials-tab-content {
				.logo-changer {
					display: block;
				}
			}
		}

	}

	.focotik-testimonials-add-new {
		// background-color: #244669;
		color: #fff;
		display: flex;
		align-items: center;

		.block-editor-button-block-appender {
			box-shadow: inset 0 0 0 1px #ddd;
		}
	}
}
