@import './mixins/library';

$caseStudyHeadingFontSize: 72px;
$caseStudyHeadingFontSizeTab: 48px;
$caseStudyHeadingFontSizeMobile: 36px;

.case-study {
    .main-heading {
        @include below(medium) {
            font-size: $caseStudyHeadingFontSizeTab !important;
        }

        @include below(small) {
            font-size: $caseStudyHeadingFontSizeMobile !important;
        }

    }

    .case-study-grid {
        @include below(medium) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        h5 {
            @include below(medium) {
                font-size: 24px;
                max-width: 550px;
                margin: auto;
            }
        }
    }


}

.hero-case-study {
    h5 {
        @include below(medium) {
            font-size: 24px !important;
        }
    }

    .gap72 {
        @include below(medium) {
            gap: 24px !important;
            row-gap: 24px !important;
        }
    }
}

.circle-item-index {
    width: 96px !important;
    height: 48px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section-3-images-four {
    @include below(medium) {
        gap: 1;
    }
}

.gap40.rowGap108 {
    @include below(medium) {
        gap: 12px !important;
        row-gap: 12px !important;
    }
}