@import './mixins/library';

$caseStudyHeadingFontSize: 72px;
$caseStudyHeadingFontSizeTab: 48px;
$caseStudyHeadingFontSizeMobile: 36px;

.case-study {
    .main-heading {
        @include below(medium) {
            font-size: $caseStudyHeadingFontSizeTab !important;
        }

        @include below(small) {
            font-size: $caseStudyHeadingFontSizeMobile !important;
        }

    }

    .case-study-grid {
        @include below(medium) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        h5 {
            @include below(medium) {
                font-size: 24px;
                max-width: 550px;
                margin: auto;
            }
        }
    }


}

.hero-case-study {
    h5 {
        @include below(medium) {
            font-size: 24px !important;
        }
    }

    .gap72 {
        @include below(medium) {
            gap: 24px !important;
            row-gap: 24px !important;
        }
    }
}

.circle-item-index {
    width: 96px !important;
    height: 48px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section-3-images-four {
    @include below(medium) {
        gap: 1;
    }
}

.gap40.rowGap108 {
    @include below(medium) {
        gap: 12px !important;
        row-gap: 12px !important;
    }
}

.is-style-case-study-query-loop {
    ul {
        @include below(medium) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        h5 {
            @include below(medium) {
                font-size: 24px;
                max-width: 550px;
                margin: auto;
            }
        }

        column-gap: 32px;
        row-gap: 72px;

        .case-study-post-image img {
            border-radius: 8px;
            object-fit: cover;
            width: 569px;
            height: 430px;
        }

        .case-study-post-title {
            color: #383a3e;
            margin-top: 32px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.02em;
            line-height: 1.25;
            font-size: 32px !important;
            @include below(medium) {
                font-size: 24px;
                max-width: 550px;
                margin: auto;
            }
        }
    }

}