@import './mixins/library';

.contact-section {
    .wpcf7-form * {
        box-sizing: border-box;

        p {
            margin: 0;
        }
        button{
            text-align: center;
            display: flex;
            margin-inline: auto;
        }
    }

    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"],
    .wpcf7-form select,
    .wpcf7-form textarea {
        border: none;
        border-bottom: 1px solid #6A6C70;
        outline: none;
        padding: 8px;
        font-size: 16px;
        width: 100%;
        background: none;
        color: #fff;
        margin-bottom: 10px;
    }

    .wpcf7-form textarea {
        resize: vertical;
        height: 57px;
    }

    .wpcf7-form label {
        display: block;
        margin-bottom: 5px;
    }

    .wpcf7-form .contact-service-type p {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .wpcf7-form .contact-service-type p>* {
        flex: 1 1 50%;
        box-sizing: border-box;
    }

    .wp-block-media-text__media img {
        height: 52px;
        width: 52px;
    }

    .contact-whatsapp-row {
        gap: 12px;
    }

    .wp-block-media-text__media {
        height: 24px;
        width: 24px;
    }

    .wp-block-columns.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex.is-layout-flex {
        gap: 64px;
    }
    .main-heading {
        @include below(medium) {
            font-size: 48px !important;
            text-align: center;
        }

        @include below(small) {
            font-size: 38px !important;
            text-align: center;
        }
    }

    .contact-form {
        .wp-block-columns {
            .contact-info {
                @include below(large) {
                    flex-wrap: wrap !important;
                }

                @include below(medium) {
                    flex-direction: column;
                    align-items: start;
                }
            }
        }

        .wp-block-media-text {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            margin-inline: 0 !important;

            .wp-block-media-text__media {
                width: 48px !important;
                height: 48px !important;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            .wp-block-media-text__content {
                padding-inline: 0px !important;
            }
        }
    }
    .contact-whatsapp-row p{
        font-size: 14px!important;
    }
}
.faq-cta-contact .faq{
    background-color: #181A1D!important;
}