@import './mixins/library';

.cta-small-black {
    .cta-small-textbox {
        @include below(medium) {
            padding: 20px !important;
        }
    }

    &-row {
        @include below(small) {
            flex-direction: column;
        }

        h2 {
            @include below(large) {
                font-size: 28px !important;
            }
            @include below(medium) {
                font-size: 24px !important;
            }
        }
    }
}