.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}
.shrink0{
    flex-shrink: 0;
}
.gap4{
    gap:4px;
}
.gap16 {
    gap: 16px;
}
.gap32{
    gap: 32px;
}
.gap12{
    gap: 12px!important;
}
.gap40{
    gap: 40px;
}
.rowGap16{
    row-gap: 16px!important;
}
.rowGap72{
    row-gap: 72px;
}