@import './mixins/library';

.mt-10 {
    margin-top: 10px !important;
}

._w-100 {
    width: 100% !important;
}

.w-1170 {
    width: 1170px;
}

.flex {
    display: flex;
}

.items-start {
    align-items: start !important;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.shrink0 {
    flex-shrink: 0;
}

.gap4 {
    gap: 4px;
}

.gap12 {
    gap: 12px !important;
}

.gap16 {
    gap: 16px;
}
._gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}
._gap32 {
    gap: 32px!important;
}

.gap40 {
    gap: 40px !important;
}
.gap48 {
    gap: 48px;
}

.gap72 {
    gap: 72px !important;
    ;
}

.gap90 {
    gap: 90px !important;
}

.rowGap16 {
    row-gap: 16px !important;
}

.rowGap72 {
    row-gap: 72px;
}

.rowGap108 {
    row-gap: 108px !important;
}

.md-flex-col {
    @include below(medium) {
        flex-direction: column;
    }
}

.md-col-span-1 {
    @include below(medium) {
        grid-template-columns: 1fr !important;
    }
}

.md-col-span-2 {
    @include below(medium) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.sm-col-span-1 {
    @include below(small) {
        grid-template-columns: 1fr !important;
    }
}

.sm-col-span-2 {
    @include below(small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}