@import './mixins/library';
.mt-10{
    margin-top: 10px!important;
}
._w-100{
    width: 100%!important;
}
.flex {
    display: flex;
}

.items-start {
    align-items: start !important;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.shrink0 {
    flex-shrink: 0;
}

.gap4 {
    gap: 4px;
}

.gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

.gap12 {
    gap: 12px !important;
}

.gap72 {
    gap: 72px !important;
    ;
}

.gap90 {
    gap: 90px !important;
}

.gap40 {
    gap: 40px !important;
}

.rowGap16 {
    row-gap: 16px !important;
}

.rowGap72 {
    row-gap: 72px;
}

.rowGap108 {
    row-gap: 108px !important;
}

.md-flex-col {
    @include below(medium) {
        flex-direction: column;
    }
}

.md-col-span-1 {
    @include below(medium) {
        grid-template-columns: 1fr !important;
    }
}

.md-col-span-2 {
    @include below(medium) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.sm-col-span-1 {
    @include below(small) {
        grid-template-columns: 1fr !important;
    }
}

.sm-col-span-2 {
    @include below(small) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.blog-list {
    gap: 32px !important;

    .blog-item {
        gap: 0 !important;
    }
}

.post-autor {
    .wp-block-post-author__avatar {
        width: 40px;
        height: 40px;
        margin-right: 0px !important;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .wp-block-post-author__content {
        display: none;
    }

    .author-info {
        gap: 0 !important;

        .wp-block-post-author-name {
            font-size: 14px;
            color: #383A3E;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            text-align: left;
        }

        .wp-block-post-date time {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #6A6C70;
        }
    }
}