.scoverage-tooltip {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 13px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

.coverage-tooltip {
	position: fixed;
	background: white;
	padding-inline: 10px;
	padding-block: 5px;
	border: 1px solid #333;
	border-radius: 6px;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

#foco-coverage-map {
	width: 100%;
	height: 100%;
	overflow: hidden;

	svg {
		width: 100%;
		height: 100%;
		background-color: transparent;
		/* Light gray background for the sea area */
	}
}

.foco-map-parent {
	position: relative;
}


path[data-country="Bermuda"] {
	display: none;
}
