@import './mixins/library';

$viabilityHeadingFontSize: 72px;
$viabilityHeadingFontSizeTab: 48px;
$viabilityHeadingFontSizeMobile: 36px;
$viabilityHeadingFontSizeXsMobile: 26px;

.product-viability {
    .main-heading {
        @include below(medium) {
            font-size: $viabilityHeadingFontSizeTab !important;
        }

        @include below(small) {
            font-size: $viabilityHeadingFontSizeXsMobile !important;
        }
    }

    .viability-grid {
        @include below(large) {
            gap: 12px !important;
        }

        @include below(medium) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

.product-viability-2 {
    .viability-2-card {
        @include below(medium) {
            gap: 12px;
        }

        h5 {
            @include below(medium) {
                font-size: 22px !important;
            }
        }

        @include below(small) {
            grid-template-columns: 1fr;
        }
    }

    
}
.viability-green {
    @include below(medium) {
        padding: 10px !important;
    }
    .viability-heading {
        @include below(medium) {
            font-size: $viabilityHeadingFontSizeTab !important;
        }

        @include below(small) {
            font-size: $viabilityHeadingFontSizeXsMobile !important;
        }

    } 
}
.product-viability-3 {
    .main-heading {
        @include below(medium) {
            font-size: $viabilityHeadingFontSizeTab !important;
            text-align: center;
        }

        @include below(small) {
            font-size: $viabilityHeadingFontSizeMobile !important;
            text-align: center;
        }
    }

    &-grid {
        @include below(medium) {
            grid-template-columns: 1fr !important;
            text-align: center;
        }
    }

    .is-nowrap.is-layout-flex {
        @include below(medium) {
            justify-content: center;
        }
    }

    p {
        @include below(medium) {
            max-width: 500px;
            margin: auto;
        }
    }

    .viability-3-service-row {
        @include below(medium) {
            flex-direction: column;
            align-items: start;
        }
    }
}

.product-viability-4 {
    .main-heading {
        max-width: 831px;
        text-align: center;

        @include below(medium) {
            font-size: $viabilityHeadingFontSizeTab !important;
        }

        @include below(small) {
            font-size: 28px !important;
        }
    }

    .viability-4-card-three {
        @include between(900px, 1200px) {
            gap: 12px;
        }

        @include below(medium) {
            grid-template-columns: 1fr;
        }
    }

    .viability-4-card-two {
        @include below(medium) {
            gap: 12px;
        }

        @include below(small) {
            grid-template-columns: 1fr;
        }

        h5 {
            @include below(medium) {
                font-size: 20px !important;
            }
        }
    }
}