@import './mixins/library';

$headingFontSize: 72px;
$headingFontSizeTab: 48px;
$headingFontSizeMobile: 36px;

.home-services {
    .testimonial-3-second-part {
        @include below(medium) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .has-3-x-large-font-size{
            @include below(large) {
                font-size: 48px !important;
            }
        }
        .wp-block-spacer{
            @include below(medium) {
                height: 24px!important;
            }
        }
    }
}