
@import './mixins/library';

.testimonial-2-card-grid {
    gap: 32px;
}

.testimonial-2-review {
    figure {
        margin-top: 8px;
    }
}

.testimonial-3-row-item {
    gap: 32px;
}

.portfolio-section {
    .p-grid {
        row-gap: 72px;
        column-gap: 32px;
    }
}

.faq .foco-accordion {
    details {
        padding-bottom: 32px;
        summary {
            font-size: 32px !important;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        p {
            max-width: 879px;
            font-size: 20px;
            font-weight: 400;
            padding: 0;
            line-height: 28px;
            letter-spacing: -0.01em;
            text-align: left;
        }
    }
}

.home-services .foco-accordion {
    max-width: 525px;
    margin-top:-4px;

    details {

        summary {
            font-size: 32px !important;
            font-weight: 600;
            padding: 0;
            margin: 0;
            line-height: 40px;
            letter-spacing: -0.02em;
        }

        p {
            max-width: 453px;
            padding-top: 12px!important;
            padding-bottom: 24px!important;
            margin: 0;
            letter-spacing: -0.01em;
            text-align: left;
        }
    }
}

.blogandnews {
    .wp-block-media-text {
        .wp-block-media-text__media {
            height: 40px;
            width: 40px;
        }

        .wp-block-media-text__content {
            padding-inline: 0;
        }
    }
}