@import './mixins/library';

$worksheadingFontSize: 72px;
$worksheadingFontSizeTab: 48px;
$worksheadingFontSizeMobile: 36px;

.works{
    .is-nowrap{
        @include below(large) {
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column;
        }
    }
    .wp-block-heading.main-heading{
        max-width: 700px;
        text-align: left;
        @include below(medium) {
            font-size: $worksheadingFontSizeTab !important;
            text-align: center;
        }

        @include below(small) {
            font-size: $worksheadingFontSizeMobile !important;
        }
    }
    .grid-column-auto{
        @include below(medium) {
            grid-template-columns: auto;
            justify-content: center;
        }
    }
    .wp-block-buttons-is-layout-flex{
        @include below(medium) {
            justify-content: center;
        }
    }
    .wp-block-heading{
        @include below(medium) {
            font-size: 22px !important;
            text-align: center;
            margin-top: 0!important;
            padding-inline: 10px;
        }
    }
    .wp-block-spacer{
        @include below(medium) {
            height: 32px!important;
            margin-top: 32px!important;
        }
    }
}