
<!-- wp:pattern {"slug":"focotik/hero-section"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/why-us"} /-->
<!-- wp:pattern {"slug":"focotik/services"} /-->
<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:pattern {"slug":"focotik/cpa-wrap"} /-->
 <!-- wp:pattern {"slug":"focotik/brands-section"} /-->
 <!-- wp:pattern {"slug":"focotik/review"} /-->
 <!-- wp:pattern {"slug":"focotik/work-process-section"} /-->
 <!-- wp:pattern {"slug":"focotik/why-us-d2"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->