<!-- wp:template-part {"slug":"header-white","area":"header"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->

<!-- wp:pattern {"slug":"focotik/case-study"} /-->
<!-- wp:pattern {"slug":"focotik/cta-small-black"} /-->
<!-- wp:pattern {"slug":"focotik/portfolio-section"} /-->
<!-- wp:pattern {"slug":"focotik/promo-video"} /-->
<!-- wp:pattern {"slug":"focotik/review"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
