<!-- wp:pattern {"slug":"focotik/hero-section"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/why-us"} /-->
<!-- wp:pattern {"slug":"focotik/services-new"} /-->
<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/review"} /-->
<!-- wp:pattern {"slug":"focotik/work-process-section"} /-->
<!-- wp:pattern {"slug":"focotik/why-us-d2"} /-->
<!-- wp:pattern {"slug":"focotik/pricing-section"} /-->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
