<!-- wp:pattern {"slug":"focotik/hero-section"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/why-us"} /-->
<!-- wp:pattern {"slug":"focotik/services-new"} /-->
<!-- wp:group {"metadata":{"name":"Services Wrapper"},"style":{"spacing":{"padding":{"top":"11.25rem","bottom":"11.25rem"},"margin":{"top":"0","bottom":"0"}},"background":{"backgroundImage":{"url":"<?php echo esc_url(FOCOTIK_THEME_URI) ?>assets/images/works-img-right-top.png","id":317,"source":"file","title":"works-img-right-top"},"backgroundSize":"346px","backgroundPosition":"100% 0%","backgroundRepeat":"no-repeat"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:11.25rem;padding-bottom:11.25rem"><!-- wp:case-study/case-study /--></div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/review"} /-->
<!-- wp:pattern {"slug":"focotik/work-process-section"} /-->
<!-- wp:pattern {"slug":"focotik/why-us-d2"} /-->
<!-- wp:pattern {"slug":"focotik/pricing-section"} /-->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
 