<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-2"} /-->

<!-- wp:group {"metadata":{"name":"FAQ and CTA"},"style":{"spacing":{"padding":{"bottom":"108px"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-bottom:108px"><!-- wp:pattern {"slug":"focotik/faq"} /-->
    <!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->