<!-- wp:pattern {"slug":"focotik/hero-product-redesign-wrapper"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-3"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands \u0026 cta wraper"},"style":{"spacing":{"padding":{"top":"108px","bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:108px;padding-bottom:108px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"focotik/product-viability"} /-->
<!-- wp:pattern {"slug":"focotik/home-services-wrapper"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-2"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-3"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-4"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands \u0026 cta wraper"},"style":{"spacing":{"padding":{"top":"108px","bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:108px;padding-bottom:108px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
    <!-- wp:pattern {"slug":"focotik/brands-section"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->