<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-2"} /-->

<!-- wp:group {"metadata":{"name":"FAQ and CTA"},"style":{"spacing":{"padding":{"bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background faq-cta-contact" style="background-color:#181a1d;padding-bottom:108px;margin-top: 0;margin-bottom: 0;"><!-- wp:pattern {"slug":"focotik/faq"} /-->
    <!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->