<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->

<!-- wp:pattern {"slug":"focotik/hero-team-extention"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-4"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-3"} /-->
<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands \u0026 cta wraper"},"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:80px;padding-bottom:80px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
    <!-- wp:pattern {"slug":"focotik/brands-section"} /-->
    <!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->