<!-- wp:pattern {"slug":"focotik/header-dark"} /-->

<!-- wp:pattern {"slug":"focotik/hero-mvp"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-review"} /--> 

<!-- wp:pattern {"slug":"focotik/product-viability"} /-->

<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-2"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-3"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->