<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->

<!-- wp:pattern {"slug":"focotik/hero-team-extention"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-4"} /-->

<!-- wp:pattern {"slug":"focotik/testimonial-3"} /-->
<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
<!-- wp:pattern {"slug":"focotik/brands-section"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->