<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->
<!-- wp:pattern {"slug":"focotik/hero-mvp"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-4"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-review"} /  -->
<!-- wp:pattern {"slug":"focotik/product-viability"} /-->
<!-- wp:group {"metadata":{"name":"works and cta wraper"},"style":{"spacing":{"padding":{"top":"180px","bottom":"180px"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="padding-top:180px;padding-bottom:180px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/works"} /-->
    <!-- wp:spacer {"height":"56px"} -->
    <div style="height:56px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/product-viability-4"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-3"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands wraper"},"style":{"spacing":{"padding":{"top":"108px","bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:108px;padding-bottom:108px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
    <!-- wp:pattern {"slug":"focotik/brands-section"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->