<!-- wp:template-part {"slug":"header-dark","area":"header"} /-->
<!-- wp:pattern {"slug":"focotik/hero-product-redesign"} /-->
<!-- wp:pattern {"slug":"focotik/testimonial-3"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands \u0026 cta wraper"},"style":{"spacing":{"padding":{"top":"108px","bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:108px;padding-bottom:108px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
</div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"focotik/product-viability"} /-->
<!-- wp:group {"metadata":{"name":"works"},"className":"works","style":{"color":{"background":"#e7e7e7"},"spacing":{"margin":{"top":"0","bottom":"0"}},"background":{"backgroundImage":{"url":"<?php echo esc_url(FOCOTIK_THEME_URI) ?>assets/images/works-img-right-top.png","id":238,"source":"file","title":"works-img-right-top"},"backgroundSize":"343px","backgroundPosition":"100% 0%","backgroundRepeat":"no-repeat"}},"layout":{"type":"default"}} -->
<div class="wp-block-group works has-background" style="background-color:#e7e7e7;margin-top:0;margin-bottom:0;padding-top:180px;padding-bottom:180px">
<!-- wp:pattern {"slug":"focotik/works"} /-->
<!-- wp:pattern {"slug":"focotik/cta-wrap"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/product-viability-2"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-3"} /-->
<!-- wp:pattern {"slug":"focotik/product-viability-4"} /-->
<!-- wp:group {"metadata":{"name":"Review,brands \u0026 cta wraper"},"style":{"spacing":{"padding":{"top":"108px","bottom":"108px"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#181a1d"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="background-color:#181a1d;padding-top:108px;padding-bottom:108px;margin-top:0px;margin-bottom:0px">
    <!-- wp:pattern {"slug":"focotik/testimonial-review"} /-->
    <!-- wp:pattern {"slug":"focotik/brands-section"} /-->
</div>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"focotik/faq"} /-->
<!-- wp:pattern {"slug":"focotik/contact-section"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->