@import url(./styles/lib.scss);

body {
	background-color: #E7E7E7;
}

.nogap {
	gap: 0;
}

.gap8 {
	gap: 8px;
}

.foco-accordion {
	details {
		overflow: hidden;
		transition: height 0.3s ease, padding-bottom 0.3s ease;
		border-bottom: 1px solid #D6D8DC;
		padding-block: 48px;
		height: auto !important;
		margin-block-start: 0;

		&[open] {
			summary::after {
				content: url(../assets/images/svg-icons/arrow-up.svg);
			}
		}

		&:not([open]) {
			height: 0;
			padding-bottom: 0;

			p {
				opacity: 0;
			}
		}

		p {
			margin-top: 0;
			transition: opacity 0.3s ease;
			opacity: 1;
		}


		summary {
			cursor: pointer;
			display: flex;
			align-items: center;
			line-height: 23px;

			&::after {
				content: url(../assets/images/svg-icons/arrow-down.svg);
				margin-left: auto;
			}
		}

	}
}



.details {
	border-bottom: 1px solid #D6D8DC;
	padding-bottom: 48px;

	summary {
		cursor: pointer;
		display: flex;
		align-items: center;

		&::after {
			content: url(../assets/images/svg-icons/arrow-down.svg);
			margin-left: auto;
		}
	}

	&[open] {
		summary::after {
			content: url(../assets/images/svg-icons/arrow-up.svg);
		}
	}

	// &>*:not(summary) {
	// 	// padding-bottom: 100px;
	// }
}

//hero-section

.hero-section {
	position: relative;

	.img-left-top {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin-top: 0;
	}

	.img-right-top {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		margin-top: 0;
	}

	.white-header {
		margin-bottom: 108px;
		padding-block: 24px;
	}

	.hero-text-content {
		margin-bottom: 64px;

		.hero-heading {
			margin-bottom: 32px;
		}
	}

	.success-state {
		margin-top: 108px;

		.success-item {
			.success-heading {
				font-size: 32px;
				font-weight: 700;
				color: #383A3E;
			}

			.success-text {
				color: #AEAEAE;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}

	.promo-video {
		margin-top: 48px;


		.wp-has-aspect-ratio {
			iframe {
				border-radius: 8px;
			}
		}

	}
}

.brands-content {
	padding-block: 108px;

	.brands-logo-wrap {
		margin-top: 56px;

		.brands-logo-list {
			gap: 52px;
		}
	}
}

.why-us {
	padding-block: 108px;
	position: relative;

	.why-us-img-right-top {
		position: absolute;
		top: 0;
		right: 0;
	}

	.why-us-content {
		margin-top: 72px;

		.why-us-item-wrap {
			padding: 16px;
			position: relative;

			.bg-why-us-item-right {
				position: absolute;
				top: 0;
				right: 0;
			}

			.heading {
				font-size: 16px;
				font-weight: 700;
				color: #383A3E;
			}

			.item-content-wrap {
				padding: 24px;

				h5 {
					color: #383A3E;
					margin: 0;
				}

				p {
					color: #515457;
					font-size: 20px;
					font-weight: 400;
					margin: 0;
				}

				.text {
					margin-block: 40px;
				}

				.btn-explore {
					color: #EFF2F6;
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
	}
}

.services {
	padding-block: 108px;

	.services-top-content {
		margin-bottom: 150px;

		p.text-with-bg {
			font-size: 16px;
			font-weight: 500;
			color: #242424;

		}

		p {
			color: #EFF2F6;
			font-size: 32px;
			font-weight: 400;
		}
	}
}

.works {}

.cta {

	.cta-text {
		padding-block: 96px;

		h4 {}
	}
}

.review {
	padding-block: 180px;

	.review-content {
		margin-top: 72px;

		h5 {
			color: #EFF2F6;
			font-weight: 700;
		}
	}
}

.work-process-section {
	padding-block: 180px;

	.wps-heading {
		margin-block-start: 150px;
		margin-block-end: 72px;
	}

	.wps-service-section {
		.services-title {
			color: #383A3E;
			font-size: 36px;
			font-weight: 700;
		}

		.services-text {
			color: #515457;
			font-size: 24px;
			font-weight: 400;
		}

		.services-list {
			font-size: 20px;
			font-weight: 500;
			color: #383A3E;

			li {
				margin-bottom: 16px;
			}
		}
	}
}

.why-us-d2 {
	padding-block: 180px;

	.why-us-d2-heading {
		margin-bottom: 40px;
	}

	.why-us-d2-text-wrap {
		padding-block: 48px;
		padding-inline: 56px;
		margin-block: 28px;
		border-radius: 16px;
		border-bottom: 1px solid #EE9176;
	}
}

@import url(./styles/pricing-section.scss);
@import url(./styles/testimonial.scss);
@import url(./styles//contact-section.scss);

.footer {

	.footer-container {
		position: relative;
		padding-block-start: 64px;
		padding-block-end: 32px;

		.footer-title-border {
			border-top: 1px solid #EBE2DA;
			width: 65px;
			margin-left: 0;
		}

		.footer-top {
			color: #D6D8DC;


			.footer-logo {
				margin-bottom: 40px;
			}

			.footer-h3-heading-style {
				color: #EBE2DA;
				font-size: 18px;
				font-family: Inter;
				font-weight: 500;
			}
		}


		.footer-right-img {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
		}

		.footer-bottom {
			margin-block-start: 40px;
			color: #B2B4B8;
		}
	}
}